 html, body {
    background-color: #2F4F30;
    margin: 0;
 }
 .titulo {
    text-align: center;
    color: white;
    background-color: #1f1f1f;
    font-size: 5vh;
    padding: 1.5%;
    box-shadow: 0px 2px 5px black;
 }
 .div-login {
    font-family: 'Alegreya Sans', sans-serif;
    display: flex;
    justify-content: center;
}
 #login {
    font-size: 3vh;
    width: fit-content;
    position: absolute;
    padding: 1%;
    background-color: whitesmoke;
    top: 15%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 7px #1d1d1d;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#numjugadores {
    margin-bottom: 5%;
}
.seleccion-jugador {
    text-align: center;
}
#uno {
    margin-left: 0;
}
#nombrejugador {
    width: 96%;
    padding: 1%;
    margin-top: 1%;
}
.listajugadores {
    margin-top: 5%;
    margin-bottom: 3%;
}
.listajugadores > p {
    margin: 0;
}
.listajugadores > ul {
    margin: 10%;
}
.listajugadores > ul > li {
    margin-left: -65%;
}
button {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}
#modificar, #btnPedir, #btnDetener, #btnReiniciarFinal {
    background-color: whitesmoke;
    color: #1d1d1d;
    border: #1d1d1d 1px solid;
    cursor: pointer;
}
#confirmar, .btnNuevo, #btnReiniciar {
    background-color: #1d1d1d;
    color: whitesmoke;
    cursor: pointer;
}
#btnPedir:disabled, #btnDetener:disabled {
    background-color: lightgrey;
    color: grey;
    cursor: auto;
}
#confirmar:disabled {
    background-color: whitesmoke;
    color: grey;
    cursor:auto;
}
#modificar:disabled {
    border: none;
    color: grey;
    cursor:auto;
}
.juego {
    font-family: 'Alegreya Sans', sans-serif;
}
.div-botones {
    text-align: center;
    margin-top: 1%;
}
.jugador {
    display: flex;
    flex-direction: column;
}
.div-informacion > h1 {
    margin-bottom: 0;
    font-size: 3vh;
}
.div-informacion > small {
    font-size: 3vh;
    color: whitesmoke;
}
.div-informacion {
    text-align: center;
}
.div-carta {
    height: 139px;
    text-align: center;
    margin-top: 1%;
}
.carta {
    width: 90px;
    margin-left: -50px;
}
.div-ganador {
    font-family: 'Alegreya Sans', sans-serif;
}
.ganador {
    width: fit-content;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    padding: 2%;
    margin: auto;
    background-color:whitesmoke;
    color: #1d1d1d;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 1px 40px 0px rgba(0,0,0,0.75);
    text-align: center;
}
#cerrar-modal + #label-modal {
    position: absolute;
    top: 1em;
    right: 1em;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    background: tomato;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 1%;
    font-size: 75%;
 }
 #cerrar-modal {
     display: none;
 }
.hidden {
    display: none;
}
.red {
    color: red !important; 
}

@media screen and (max-width: 768px) {
    .div-botones {
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .div-submit {
        display: flex;
    }
    .submit{
        margin: 0 1% 0 1%;
    }
    button {
        padding: .2rem .35rem;
        font-size: 2vh;
    }
    .div-informacion > small {
        font-size: 2vh;
    }
    .div-carta {
        margin-left: 55px;
        height: 100px;
        text-align: center;
    }
    .carta {
        width: 4em;
        margin-left: -55px;
    }
    .ganador {
        width: 80%;
    }
}